@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--pure-white: #ffffff;
		--dark: #2c2c35 /*haiti*/;
		--deep-dark: #1e2028 /* pearl */;
		--color-text-base: #464a5d /*river*/;
		--color-text-muted: #a0a1b2 /* santa */;
		--color-text-accent: #0b7599 /* cege */;
	}

	html {
		height: 100%;
		scroll-behavior: smooth;
	}

	* {
		box-sizing: border-box;
	}

	body {
		@apply mx-auto bg-white font-sans;
	}

	h1 {
		@apply mx-auto mt-3 mb-8 leading-4 transition-all;
	}

	code[class*='language-'] {
		font-size: 0.8rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 20px;
	}

	@media only screen and (min-width: 1024px) {
		code[class*='language-'] {
			font-size: 1rem !important;
		}

		code[class*='language-'],
		pre[class*='language-'] {
			line-height: 25px;
		}
	}
}

.main-container {
	@apply relative flex min-h-screen w-full flex-col justify-center;
}

.btn {
	@apply relative inline-flex items-center border-2 pl-2 pr-2 pt-2 pb-2 text-sm font-medium;
}

.btn-accent {
	@apply relative inline-flex items-center rounded-l-lg border-2 border-river bg-river px-2 py-2 text-sm font-medium text-white hover:bg-haiti focus:z-10 focus:border-white focus:outline-none focus:ring-1 focus:ring-river lg:px-8;
}

.btn-base {
	@apply relative -ml-px inline-flex items-center rounded-r-lg border-2 border-river px-2 py-2 text-sm font-medium focus:z-10 focus:border-auburn focus:outline-none focus:ring-1 focus:ring-auburn lg:px-8;
}

.artifact-container {
	@apply mx-auto my-7 flex max-w-4xl flex-col justify-center p-11 text-skin-dark;
}

.content {
	@apply mx-auto w-full leading-6 text-gray-800;
}

.content h1 {
	@apply mx-auto break-words text-left text-2xl font-medium leading-8;
}

.content h2 {
	@apply my-2 mx-0 text-left text-xl font-normal leading-7;
}

.message {
	@apply rounded-md py-2 px-4;
}

.warning {
	@apply bg-orange-200;
}

.text-default {
	@apply text-base leading-6;
}

.markdown-body {
	@apply prose-base mx-auto p-11;
}
